html {
    height: 100%;
    background-image: url(img/landscape.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Glacial Indifference Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Glacial Indifference Regular'), url('font/GlacialIndifference-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Glacial Indifference Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Glacial Indifference Bold'), url('font/GlacialIndifference-Bold.woff') format('woff');
    }

body {
    font-family: 'Glacial Indeference', sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
}

.navbar {
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo {
    height: 200px;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
} 

.navbar .nav-links ul li{
    margin: 0 25px;
} 

.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 115px;
    right: 30px;
    width: 35px;
    z-index: 2;
}

.block-centre {
    max-height: 432px;
    max-width: 768px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 525px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.signup {
    background-color: rgba(0, 0, 0, 0.603);
    width: 50%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 595px;
    left: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.2);
}

.container.success {
    max-height: 432px;
    max-width: 768px;
    background-color: rgba(0, 0, 0, 0.603);
    width: 50%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 515px;
    left: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.2);
}

.container.connect {
    max-height: 432px;
    max-width: 768px;
    background-color: rgba(0, 0, 0, 0.603);
    width: 50%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 515px;
    left: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.2);
}

.container.support {
    background-color: rgba(0, 0, 0, 0.603);
    width: 50%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 560px;
    left: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    flex-direction: column;
}

.wrap-menu {
    position: absolute;
    top: 235px;
    left: 50%;
    width: 50%;
    max-width: 700px;
    min-width: 420px;
    transform: translateX(-50%);
    background-color: #252525ee;
    padding: 35px 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 20px 30px 25px rgb(0 0 0 / 20%);
}

#welcome-message {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.contenu-menu {
    display: flex;
    background-color: #f5f5fab0;
    width: 50%;
    max-width: 700px;
    min-width: 420px;
    padding: 35px 50px;
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 20px 30px 25px rgb(0 0 0 / 20%);
    flex-direction: column;
    justify-content: center;
}


.video-bg {
    max-height: 432px;
    max-width: 768px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 545px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1;
}

.titre {
    padding: 10px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.sous-titre {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

.texte {
    color: white;
    font-size: 18px;
    line-height: 1.5;
}

/*form {
    position: relative;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}*/

h1{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

p{
    position : relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto; 
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

.row.connect {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
    justify-content: center;
}
  

label{
    color: #ffffff;
    font-size: 14px;
}

textarea,
input,
select{
    max-width: 746px;
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

textarea{
    resize: none;
}

textarea:focus,
input:focus,
select:focus{
    outline: none;
    border-color: red;
}

button{
    border: none;
    padding: 10px 20px;
    background: rgba(255, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 3px;
}

.button2{
    margin: 10px;
    border: none;
    padding: 40px 20px;
    background: #252525ee;
    color: #ffffff;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.button2:hover {
    background-color: #4d4d4dee;
    color: white;
    transform: scale(1.1);
}


.button-clicked {
    background-color: rgba(255, 80, 80, 0.5);
}  

.button-clicked2 {
    background-color: #808080;
    transform: scale(0.9);
}  


.connect
{
    left: 50%;
}

.register{
    padding-top: 20px;
}

.no-scroll {
    overflow: hidden;
  }

@media screen and (max-width: 1280px) {
    .container.signup{
        top: 750px;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    
    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        z-index: 2;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

    .container.signup{
        top: 525px;
        transform: translate(-50%, -50%) scale(0.7);
    }

    .container.connect{
        top: 400px;
        transform: translate(-50%, -50%) scale(0.7);
    }

    .container.support{
        top: 445px;
        transform: translate(-50%, -50%) scale(0.7);
    }

    .menu{
        transform: scale(0.7);
    }

    .wrap-menu {
        top: 435px;
    }
    
    .contenu-menu {
        top: 540px;
    }
}